@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e5e5e5;
    --primary: #0a0a0a;
    --secondary: #fafafa;
  }
}

@layer components {
  h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl;
  }
}

.big-container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.narrow-container {
  margin-inline: auto;
  width: min(80%, 55.5rem);
}

.parent-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
